name: ubuntu

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - "3.0"
          - "2.7"
          - "2.6"
          - "2.5"
          - "2.4"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: latest
          bundler-cache: true
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y -qq build-essential automake autoconf libtool
      - name: Build
        run: bundle exec rake compile
      - name: Run test
        run: bundle exec rake test
